Окончание Оповещение клиента.blueprint.json
{
    "name": "Окончание Оповещение клиента",
    "flow": [
        {
            "id": 1,
            "module": "monday:watchBoardColumnValues",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 2980992
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -973,
                    "y": 99
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "My Monday Board's Column Values webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:monday3",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "monday:GetItem",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2710073
            },
            "mapper": {
                "id": "{{1.pulseId}}",
                "boardId": "1557686590",
                "showSubitems": true,
                "showParentItem": true,
                "disableOutputInterfaceCaching": false
            },
            "metadata": {
                "designer": {
                    "x": -963,
                    "y": -394
                },
                "restore": {
                    "expect": {
                        "boardId": {
                            "label": "Insurance Online  ::  public"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "My Monday v2 connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID",
                        "required": true
                    },
                    {
                        "name": "showParentItem",
                        "type": "boolean",
                        "label": "Show Parent Item",
                        "required": true
                    },
                    {
                        "name": "showSubitems",
                        "type": "boolean",
                        "label": "Show Subitems",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID"
                    },
                    {
                        "name": "disableOutputInterfaceCaching",
                        "type": "boolean",
                        "label": "Disable Output Interface Caching",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "email",
                        "type": "email",
                        "label": "Email"
                    },
                    {
                        "name": "created_at",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "updated_at",
                        "type": "date",
                        "label": "Updated at"
                    },
                    {
                        "name": "state",
                        "type": "text",
                        "label": "State"
                    },
                    {
                        "name": "board",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Board"
                    },
                    {
                        "name": "creator_id",
                        "type": "uinteger",
                        "label": "Creator ID"
                    },
                    {
                        "name": "group",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "deleted",
                                "type": "boolean",
                                "label": "Deleted"
                            },
                            {
                                "name": "archived",
                                "type": "boolean",
                                "label": "Archived"
                            }
                        ],
                        "type": "collection",
                        "label": "Group"
                    },
                    {
                        "name": "column_values",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            },
                            {
                                "name": "additional_info",
                                "type": "text",
                                "label": "Additional Info"
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            }
                        ],
                        "type": "array",
                        "label": "Column Values"
                    },
                    {
                        "name": "mappable_column_values",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Название"
                            },
                            {
                                "name": "subtasks__1",
                                "spec": [
                                    {
                                        "name": "linkedPulseIds",
                                        "spec": [
                                            {
                                                "name": "linkedPulseId",
                                                "type": "text",
                                                "label": "Subitem ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Subitem IDs"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "Подэлементы"
                            },
                            {
                                "name": "contact_phone",
                                "spec": [
                                    {
                                        "name": "phone",
                                        "type": "text",
                                        "label": "Phone"
                                    },
                                    {
                                        "name": "countryShortName",
                                        "type": "text",
                                        "label": "Country Short Name"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "Телефон"
                            },
                            {
                                "name": "color__1",
                                "spec": [
                                    {
                                        "name": "index",
                                        "type": "text",
                                        "label": "Index"
                                    },
                                    {
                                        "name": "post_id",
                                        "type": "text",
                                        "label": "Post ID"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "Тип связи"
                            },
                            {
                                "name": "status",
                                "spec": [
                                    {
                                        "name": "index",
                                        "type": "text",
                                        "label": "Index"
                                    },
                                    {
                                        "name": "post_id",
                                        "type": "text",
                                        "label": "Post ID"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "Статус"
                            },
                            {
                                "name": "date4__1",
                                "spec": [
                                    {
                                        "name": "date",
                                        "type": "date",
                                        "label": "Date"
                                    },
                                    {
                                        "name": "time",
                                        "type": "date",
                                        "label": "Time"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "Дата оформления"
                            },
                            {
                                "name": "date__1",
                                "spec": [
                                    {
                                        "name": "date",
                                        "type": "date",
                                        "label": "Date"
                                    },
                                    {
                                        "name": "time",
                                        "type": "date",
                                        "label": "Time"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "Дата окончания"
                            },
                            {
                                "name": "color9__1",
                                "spec": [
                                    {
                                        "name": "index",
                                        "type": "text",
                                        "label": "Index"
                                    },
                                    {
                                        "name": "post_id",
                                        "type": "text",
                                        "label": "Post ID"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "Оплата"
                            },
                            {
                                "name": "numeric__1",
                                "type": "number",
                                "label": "Цена, грн."
                            },
                            {
                                "name": "numeric5__1",
                                "type": "number",
                                "label": "КВ, %"
                            },
                            {
                                "name": "formula__1",
                                "type": "text",
                                "label": "КВ"
                            },
                            {
                                "name": "file__1",
                                "spec": [
                                    {
                                        "name": "files",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "assetId",
                                                "type": "number",
                                                "label": "Asset ID"
                                            },
                                            {
                                                "name": "isImage",
                                                "type": "boolean",
                                                "label": "Is image"
                                            },
                                            {
                                                "name": "fileType",
                                                "type": "text",
                                                "label": "File type"
                                            },
                                            {
                                                "name": "createdAt",
                                                "type": "date",
                                                "label": "Created at"
                                            },
                                            {
                                                "name": "createdBy",
                                                "type": "number",
                                                "label": "Created by"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Files"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "Полис"
                            },
                            {
                                "name": "long_text4",
                                "spec": [
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "Тип ТЗ, другое"
                            },
                            {
                                "name": "link__1",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "Ссылка"
                            },
                            {
                                "name": "text_mkqf2vd7",
                                "type": "text",
                                "label": "Ссылка"
                            },
                            {
                                "name": "google_calendar_event__1",
                                "type": "collection",
                                "label": "Google Calendar event"
                            },
                            {
                                "name": "contact_email",
                                "spec": [
                                    {
                                        "name": "email",
                                        "type": "email",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "changed_at",
                                        "type": "date",
                                        "label": "Changed at"
                                    },
                                    {
                                        "name": "additonal_info",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "changed_at",
                                                "type": "date",
                                                "label": "Changed at"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Aditional info"
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "collection",
                                "label": "Эл. почта"
                            }
                        ],
                        "type": "collection",
                        "label": "Mappable column values"
                    },
                    {
                        "name": "assets",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "public_url",
                                "type": "url",
                                "label": "Public URL"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "file_extension",
                                "type": "text",
                                "label": "File Extension"
                            }
                        ],
                        "type": "array",
                        "label": "Assets"
                    },
                    {
                        "name": "parent_item",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "created_at",
                                "type": "date",
                                "label": "Created at"
                            },
                            {
                                "name": "updated_at",
                                "type": "date",
                                "label": "Updated at"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "board",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Board"
                            },
                            {
                                "name": "creator_id",
                                "type": "uinteger",
                                "label": "Creator ID"
                            },
                            {
                                "name": "group",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Group"
                            },
                            {
                                "name": "column_values",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "additional_info",
                                        "type": "text",
                                        "label": "Additional Info"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Column Values"
                            },
                            {
                                "name": "mappable_column_values",
                                "spec": [],
                                "type": "collection",
                                "label": "Mappable column values"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent Item"
                    },
                    {
                        "name": "subitems",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "created_at",
                                "type": "date",
                                "label": "Created at"
                            },
                            {
                                "name": "updated_at",
                                "type": "date",
                                "label": "Updated at"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "board",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Board"
                            },
                            {
                                "name": "creator_id",
                                "type": "uinteger",
                                "label": "Creator ID"
                            },
                            {
                                "name": "group",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Group"
                            },
                            {
                                "name": "column_values",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "additional_info",
                                        "type": "text",
                                        "label": "Additional Info"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Column Values"
                            },
                            {
                                "name": "mappable_column_values",
                                "spec": [],
                                "type": "collection",
                                "label": "Mappable column values"
                            }
                        ],
                        "type": "array",
                        "label": "Subitems"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "monday:downloadFile",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2710073
            },
            "filter": {
                "name": "Только статус Оповестить",
                "conditions": [
                    [
                        {
                            "a": "{{5.mappable_column_values.status.text}}",
                            "b": "Оповестить",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "assetId": "{{5.mappable_column_values.file__1.files[].assetId}}"
            },
            "metadata": {
                "designer": {
                    "x": -628,
                    "y": -387
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "My Monday v2 connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "assetId",
                        "type": "uinteger",
                        "label": "Asset ID",
                        "required": true
                    }
                ]
            },
            "onerror": [
                {
                    "id": 16,
                    "module": "builtin:Ignore",
                    "version": 1,
                    "metadata": {
                        "designer": {
                            "x": -617,
                            "y": -697
                        }
                    }
                }
            ]
        },
        {
            "id": 17,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "https://monday-parse.vercel.app/api/extract",
                "data": "{\r\n  \"pdfData\": \"{{base64(6.data)}}\"\r\n}",
                "gzip": true,
                "method": "post",
                "headers": [],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "raw",
                "contentType": "application/json",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": -622,
                    "y": 85
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Raw"
                        },
                        "contentType": {
                            "label": "JSON (application/json)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "anthropic-claude:createAMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 10728407
            },
            "filter": {
                "name": "PDF only!!!",
                "conditions": [
                    [
                        {
                            "a": "{{6.fileName}}",
                            "b": ".pdf",
                            "o": "text:contain"
                        }
                    ]
                ]
            },
            "mapper": {
                "model": "claude-3-5-haiku-20241022",
                "messages": [
                    {
                        "role": "user",
                        "content": [
                            {
                                "text": "Проаналізуй текст{{17.data}} з страхового полісу та створи повідомлення для клієнта за структурою:\r\n\r\n🚗 Шановний/Шановна [ Ім'я Побатькові Прізвище] , (тоесть Имя Отчество и Фамилия без склонения), завершується страховка. 🪫\r\n📋 Номер: [номер полісу]  \r\n🚙 Транспортний засіб: [марка модель]  \r\n🔢 Держ номер: [номер]  \r\n📅 Завершується: дд.мм.рррр ⏰\r\n🔄 Для продовження страховки передзвоніть за номером телефону: \n📞 +380964479887\r\n✅ З повагою, менеджер страхування, Бабаян Олександр Віталійович 👨‍💼\r\n\r\nПравила:\r\n- Підставляй реальні дані з тексту замість [заповнювачів]\r\n- Визначай стать за ім'ям (Шановний/Шановна)\r\n- Дати у форматі дд.мм.рррр\r\n- БЕЗ жирного тексту та markdown\r\n- Зберігай всі емодзі та структуру рядків",
                                "type": "text"
                            }
                        ]
                    }
                ],
                "metadata": {},
                "max_tokens": "3000",
                "temperature": "1"
            },
            "metadata": {
                "designer": {
                    "x": -240,
                    "y": 91
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Claude Haiku 3.5"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "content": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "stop_sequences": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "anthropic-claude"
                            },
                            "label": "My Anthropic Claude connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:anthropic-claude",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Tokens",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "User",
                                            "value": "user",
                                            "nested": [
                                                {
                                                    "name": "content",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "help": "For models that support image content blocks (vision), see the [Anthropic model comparison table](https://docs.anthropic.com/en/docs/about-claude/models#model-comparison-table).",
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "Type",
                                                                "options": [
                                                                    {
                                                                        "label": "Text",
                                                                        "value": "text",
                                                                        "nested": [
                                                                            {
                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Image",
                                                                        "value": "image",
                                                                        "nested": [
                                                                            {
                                                                                "name": "source",
                                                                                "spec": [
                                                                                    {
                                                                                        "help": "File name, including the extension, for example, `image.jpg`.",
                                                                                        "name": "filename",
                                                                                        "type": "filename",
                                                                                        "label": "Filename",
                                                                                        "required": true,
                                                                                        "semantic": "file:name",
                                                                                        "extension": [
                                                                                            "jpeg",
                                                                                            "jpg",
                                                                                            "png",
                                                                                            "gif",
                                                                                            "webp"
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the **HTTP: Get a file** module.",
                                                                                        "name": "data",
                                                                                        "type": "buffer",
                                                                                        "label": "Data",
                                                                                        "required": true,
                                                                                        "semantic": "file:data"
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Source",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "PDF document",
                                                                        "value": "document",
                                                                        "nested": [
                                                                            "rpc://anthropic-claude/1/notePdfDocument",
                                                                            {
                                                                                "name": "pdfFileName",
                                                                                "type": "filename",
                                                                                "label": "Filename",
                                                                                "required": true,
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "pdf"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "pdfFileData",
                                                                                "type": "buffer",
                                                                                "label": "Data",
                                                                                "required": true,
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Tool result",
                                                                        "value": "tool_result",
                                                                        "nested": [
                                                                            {
                                                                                "name": "tool_use_id",
                                                                                "type": "text",
                                                                                "label": "Tool Use ID",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "content",
                                                                                "type": "text",
                                                                                "label": "Content",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Content"
                                                    },
                                                    "type": "array",
                                                    "label": "Content",
                                                    "labels": {
                                                        "add": "Add content"
                                                    },
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant",
                                            "nested": [
                                                {
                                                    "help": "If the request ends with an assistant turn, then the response content will continue directly from that last turn.",
                                                    "name": "content",
                                                    "type": "text",
                                                    "label": "Content",
                                                    "required": true
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "system",
                        "type": "text",
                        "label": "System Prompt"
                    },
                    {
                        "name": "metadata",
                        "spec": [
                            {
                                "name": "user_id",
                                "type": "text",
                                "label": "User ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Metadata"
                    },
                    {
                        "name": "stop_sequences",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1
                        }
                    },
                    {
                        "name": "top_k",
                        "type": "uinteger",
                        "label": "Top K"
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Tools",
                                            "value": "tools",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "spec": {
                                                        "type": "text",
                                                        "label": "Parameter Value"
                                                    },
                                                    "type": "array",
                                                    "label": "Parameter Values",
                                                    "labels": {
                                                        "add": "Add parameter value"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "telegram:SendReplyMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 9733377
            },
            "mapper": {
                "text": "{{7.textResponse}}",
                "chatId": "589053048",
                "parseMode": "",
                "replyMarkup": "",
                "messageThreadId": "",
                "replyToMessageId": "",
                "replyMarkupAssembleType": "reply_markup_enter"
            },
            "metadata": {
                "designer": {
                    "x": -236,
                    "y": -362
                },
                "restore": {
                    "expect": {
                        "parseMode": {
                            "label": "Empty"
                        },
                        "disableNotification": {
                            "mode": "chose"
                        },
                        "replyMarkupAssembleType": {
                            "label": "Enter the Reply Markup"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "telegram"
                            },
                            "label": "06.07.2025"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:telegram",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "chatId",
                        "type": "text",
                        "label": "Chat ID",
                        "required": true
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    },
                    {
                        "name": "messageThreadId",
                        "type": "number",
                        "label": "Message Thread ID"
                    },
                    {
                        "name": "parseMode",
                        "type": "select",
                        "label": "Parse Mode",
                        "validate": {
                            "enum": [
                                "Markdown",
                                "HTML"
                            ]
                        }
                    },
                    {
                        "name": "disableNotification",
                        "type": "boolean",
                        "label": "Disable Notifications"
                    },
                    {
                        "name": "disableWebPagePreview",
                        "type": "boolean",
                        "label": "Disable Link Previews"
                    },
                    {
                        "name": "replyToMessageId",
                        "type": "number",
                        "label": "Original Message ID"
                    },
                    {
                        "name": "replyMarkupAssembleType",
                        "type": "select",
                        "label": "Enter/Assemble the Reply Markup Field",
                        "validate": {
                            "enum": [
                                "reply_markup_enter",
                                "reply_markup_assemble"
                            ]
                        }
                    },
                    {
                        "name": "replyMarkup",
                        "type": "text",
                        "label": "Reply Markup"
                    },
                    {
                        "name": "chatId",
                        "type": "text",
                        "label": "Chat ID",
                        "required": true
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    },
                    {
                        "name": "messageThreadId",
                        "type": "number",
                        "label": "Message Thread ID"
                    },
                    {
                        "name": "parseMode",
                        "type": "select",
                        "label": "Parse Mode",
                        "validate": {
                            "enum": [
                                "Markdown",
                                "HTML"
                            ]
                        }
                    },
                    {
                        "name": "disableNotification",
                        "type": "boolean",
                        "label": "Disable Notifications"
                    },
                    {
                        "name": "disableWebPagePreview",
                        "type": "boolean",
                        "label": "Disable Link Previews"
                    },
                    {
                        "name": "replyToMessageId",
                        "type": "number",
                        "label": "Original Message ID"
                    },
                    {
                        "name": "replyMarkupAssembleType",
                        "type": "select",
                        "label": "Enter/Assemble the Reply Markup Field",
                        "validate": {
                            "enum": [
                                "reply_markup_enter",
                                "reply_markup_assemble"
                            ]
                        }
                    },
                    {
                        "name": "replyMarkup",
                        "type": "text",
                        "label": "Reply Markup"
                    }
                ]
            }
        },
        {
            "id": 14,
            "module": "anthropic-claude:createAMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 10728407
            },
            "mapper": {
                "model": "claude-3-5-haiku-20241022",
                "messages": [
                    {
                        "role": "user",
                        "content": [
                            {
                                "text": "Переведи этот текст {{7.textResponse}} на русский язык. сохрани структуру. выдай только текст без лишних коментариев. Эмодзи тоже сохрани.",
                                "type": "text"
                            }
                        ]
                    }
                ],
                "metadata": {},
                "max_tokens": "3000",
                "temperature": "1"
            },
            "metadata": {
                "designer": {
                    "x": 131,
                    "y": -363
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Claude Haiku 3.5"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "content": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "stop_sequences": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "anthropic-claude"
                            },
                            "label": "My Anthropic Claude connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:anthropic-claude",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Tokens",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "User",
                                            "value": "user",
                                            "nested": [
                                                {
                                                    "name": "content",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "help": "For models that support image content blocks (vision), see the [Anthropic model comparison table](https://docs.anthropic.com/en/docs/about-claude/models#model-comparison-table).",
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "Type",
                                                                "options": [
                                                                    {
                                                                        "label": "Text",
                                                                        "value": "text",
                                                                        "nested": [
                                                                            {
                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Image",
                                                                        "value": "image",
                                                                        "nested": [
                                                                            {
                                                                                "name": "source",
                                                                                "spec": [
                                                                                    {
                                                                                        "help": "File name, including the extension, for example, `image.jpg`.",
                                                                                        "name": "filename",
                                                                                        "type": "filename",
                                                                                        "label": "Filename",
                                                                                        "required": true,
                                                                                        "semantic": "file:name",
                                                                                        "extension": [
                                                                                            "jpeg",
                                                                                            "jpg",
                                                                                            "png",
                                                                                            "gif",
                                                                                            "webp"
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the **HTTP: Get a file** module.",
                                                                                        "name": "data",
                                                                                        "type": "buffer",
                                                                                        "label": "Data",
                                                                                        "required": true,
                                                                                        "semantic": "file:data"
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Source",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "PDF document",
                                                                        "value": "document",
                                                                        "nested": [
                                                                            "rpc://anthropic-claude/1/notePdfDocument",
                                                                            {
                                                                                "name": "pdfFileName",
                                                                                "type": "filename",
                                                                                "label": "Filename",
                                                                                "required": true,
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "pdf"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "pdfFileData",
                                                                                "type": "buffer",
                                                                                "label": "Data",
                                                                                "required": true,
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Tool result",
                                                                        "value": "tool_result",
                                                                        "nested": [
                                                                            {
                                                                                "name": "tool_use_id",
                                                                                "type": "text",
                                                                                "label": "Tool Use ID",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "content",
                                                                                "type": "text",
                                                                                "label": "Content",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Content"
                                                    },
                                                    "type": "array",
                                                    "label": "Content",
                                                    "labels": {
                                                        "add": "Add content"
                                                    },
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant",
                                            "nested": [
                                                {
                                                    "help": "If the request ends with an assistant turn, then the response content will continue directly from that last turn.",
                                                    "name": "content",
                                                    "type": "text",
                                                    "label": "Content",
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Tool Assistant",
                                            "value": "tool_assistant",
                                            "nested": [
                                                {
                                                    "name": "content",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "help": "You can send image content blocks starting with Claude 3 models.",
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "Type",
                                                                "options": [
                                                                    {
                                                                        "label": "Text",
                                                                        "value": "text",
                                                                        "nested": [
                                                                            {
                                                                                "help": "Content of the message on behalf of the selected **Role** .",
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Tool Use",
                                                                        "value": "tool_use",
                                                                        "nested": [
                                                                            {
                                                                                "name": "id",
                                                                                "type": "text",
                                                                                "label": "Tool Use ID",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Tool Name",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "name": "input",
                                                                                "type": "any",
                                                                                "label": "Input",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Content"
                                                    },
                                                    "type": "array",
                                                    "label": "Content",
                                                    "labels": {
                                                        "add": "Add content"
                                                    },
                                                    "required": true
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "system",
                        "type": "text",
                        "label": "System Prompt"
                    },
                    {
                        "name": "metadata",
                        "spec": [
                            {
                                "name": "user_id",
                                "type": "text",
                                "label": "User ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Metadata"
                    },
                    {
                        "name": "stop_sequences",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1
                        }
                    },
                    {
                        "name": "top_k",
                        "type": "uinteger",
                        "label": "Top K"
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Tools",
                                            "value": "tools",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "spec": {
                                                        "type": "text",
                                                        "label": "Parameter Value"
                                                    },
                                                    "type": "array",
                                                    "label": "Parameter Values",
                                                    "labels": {
                                                        "add": "Add parameter value"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "telegram:SendReplyMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 9733377
            },
            "mapper": {
                "text": "{{14.textResponse}}",
                "chatId": "{{8.chat.id}}",
                "parseMode": "",
                "replyMarkup": "",
                "messageThreadId": "",
                "replyToMessageId": "",
                "replyMarkupAssembleType": "reply_markup_enter"
            },
            "metadata": {
                "designer": {
                    "x": 131,
                    "y": 92
                },
                "restore": {
                    "expect": {
                        "parseMode": {
                            "label": "Empty"
                        },
                        "disableNotification": {
                            "mode": "chose"
                        },
                        "replyMarkupAssembleType": {
                            "label": "Enter the Reply Markup"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "telegram"
                            },
                            "label": "06.07.2025"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:telegram",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "chatId",
                        "type": "text",
                        "label": "Chat ID",
                        "required": true
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    },
                    {
                        "name": "messageThreadId",
                        "type": "number",
                        "label": "Message Thread ID"
                    },
                    {
                        "name": "parseMode",
                        "type": "select",
                        "label": "Parse Mode",
                        "validate": {
                            "enum": [
                                "Markdown",
                                "HTML"
                            ]
                        }
                    },
                    {
                        "name": "disableNotification",
                        "type": "boolean",
                        "label": "Disable Notifications"
                    },
                    {
                        "name": "disableWebPagePreview",
                        "type": "boolean",
                        "label": "Disable Link Previews"
                    },
                    {
                        "name": "replyToMessageId",
                        "type": "number",
                        "label": "Original Message ID"
                    },
                    {
                        "name": "replyMarkupAssembleType",
                        "type": "select",
                        "label": "Enter/Assemble the Reply Markup Field",
                        "validate": {
                            "enum": [
                                "reply_markup_enter",
                                "reply_markup_assemble"
                            ]
                        }
                    },
                    {
                        "name": "replyMarkup",
                        "type": "text",
                        "label": "Reply Markup"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "telegram:SendDocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 9733377
            },
            "mapper": {
                "data": "{{6.data}}",
                "chatId": "589053048",
                "caption": "",
                "filename": "{{6.fileName}}",
                "sendType": "send_bydata",
                "parseMode": "",
                "contentType": "",
                "replyMarkup": "",
                "messageThreadId": "",
                "replyToMessageId": "",
                "replyMarkupAssembleType": "reply_markup_enter"
            },
            "metadata": {
                "designer": {
                    "x": 452,
                    "y": 103
                },
                "restore": {
                    "expect": {
                        "sendType": {
                            "label": "Data"
                        },
                        "parseMode": {
                            "label": "Empty"
                        },
                        "contentType": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "replyMarkupAssembleType": {
                            "label": "Enter the Reply Markup"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "telegram"
                            },
                            "label": "06.07.2025"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:telegram",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "chatId",
                        "type": "text",
                        "label": "Chat ID",
                        "required": true
                    },
                    {
                        "name": "messageThreadId",
                        "type": "number",
                        "label": "Message Thread ID"
                    },
                    {
                        "name": "caption",
                        "type": "text",
                        "label": "Caption"
                    },
                    {
                        "name": "sendType",
                        "type": "select",
                        "label": "Send by",
                        "required": true,
                        "validate": {
                            "enum": [
                                "send_bydata",
                                "send_byurl",
                                "send_byid"
                            ]
                        }
                    },
                    {
                        "name": "parseMode",
                        "type": "select",
                        "label": "Parse Mode",
                        "validate": {
                            "enum": [
                                "Markdown",
                                "HTML"
                            ]
                        }
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content Type"
                    },
                    {
                        "name": "disableNotification",
                        "type": "boolean",
                        "label": "Disable Notifications"
                    },
                    {
                        "name": "replyToMessageId",
                        "type": "number",
                        "label": "Original Message ID"
                    },
                    {
                        "name": "replyMarkupAssembleType",
                        "type": "select",
                        "label": "Enter/Assemble the Reply Markup Field",
                        "validate": {
                            "enum": [
                                "reply_markup_enter",
                                "reply_markup_assemble"
                            ]
                        }
                    },
                    {
                        "name": "filename",
                        "type": "text",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "replyMarkup",
                        "type": "text",
                        "label": "Reply Markup"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}